footer {
	background-color: var(--color-3);
	.footer_inner {
		@include flex-between;
		@include mob-only {
			> div:not(:last-child) {
				margin-bottom: var(--space-3);
			}
		}
		h4 {
			color: #fff;
			font-size: 24px;
			margin-bottom: var(--space-4);
			font-weight: 600;
			letter-spacing: 1px;
		}
		.footer_left {
			@include tab-min {
				width: 25%;
				margin-right: 8%;
			}
			.footer_logo {
				max-width: 25rem;
			}
		}
		.footer_mid {
			@include tab-min {
				width: 33%;
				margin-right: 10%;
			}
			div {
				color: rgba(255,255,255, .9);
			}
			a {
				margin-top: 2rem;
				color: rgba(255,255,255, .9);
				display: flex;
				text-decoration: underline;
			}
		}
		.footer_right {
			@include tab-min {
				width: 23%;
			}
			a {
				background-image: url(../icons/facebook.svg);
				background-repeat: no-repeat;
				background-position: center;
				display: flex;
				border: 1px solid rgba(255,255,255, .9);
				width: 6rem;
				height: 6rem;
				border-radius: 6rem;
				transition: var(--st);
				&:hover {
					background-color: var(--color-2);
				}
			}
		}
	}
	.menu-footer-container {
		width: 100%;
		@include tab-min {
			padding-top: var(--space-3);
		}
		ul {
			list-style: none;
			@include flex;
			margin-bottom: 0;
			justify-content: flex-end;
			width: 100%;
			padding-left: 0;
			li {
				&:not(:last-child) {
					margin-right: 3rem;
				}
				a {
					color: #fff;
				}
			}
			@include tab-max {
				justify-content: center;
				font-size: 16px;
			}
			@include mob-only {
				flex-direction: column;
				li {
					margin-bottom: 8px;
				}
			}
		}
	}
	.footer_bottom {
		background-color: #000;
		@include mob-only {
			font-size: 10.5px;
			text-align: center;
		}
		p {
			margin: 0;
			color: rgba(255,255,255, .9);
		}
		.container {
			padding-block: 2rem;
		}
	}
}
